body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', Arial, sans-serif;
}

header {
    position: fixed;
    width: 100%;
    z-index: 100;
}

.menu {
    background-color: rgba(255, 255, 255, 1);
    height: 50px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.10);

    font-size: 16px;
    font-weight: 500;
}

.content {
    padding: 90px 0 0;
}

/** Меню **/
.maincontainer {
    display: flex;
    justify-content: space-between;
    align-content: center;
    height: 50px;
    font-size: 16px;

    font-weight: 500;
    padding: 0 30px
}

.block {
    display: flex;
    width: 100%;
    align-items: center;
    white-space: nowrap;

}

.block.left {
    text-transform: uppercase;
}

.block.right {
    justify-content: flex-end;
}

.block span {
    padding: 0 20px;
}

.logo img {
    height: 50px;
}

/** контент **/

.main_info {
    background: #1e8a16;
    max-width: 1200px;
    display: flex;
    margin: 0 auto;;
}

.main_info {
}

.main_info .text {
    padding: 20px 40px;
    color: white;
    font-weight: 100;
    max-width: 500px;
}

.main_info .text p:first-child {
    font-size: 32px;
}

.main_info .text p {
    font-size: 20px;
    font-family: 'Montserrat', Arial, sans-serif;
    line-height: 1.55;
}

.deviz {
    color: #1e8a16;
    font-size: 52px;
    font-weight: 400;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    line-height: 81px;
    text-align: center;
    width: 100%;
}

.line {
    /*display: table-cell;*/
    width: 1200px;
    height: 1px;
    margin: 0 auto;
    /*background: -webkit-linear-gradient(right, #1e8a16, rgba(30,138,22,0)), -webkit-linear-gradient(left, #1e8a16, rgba(30,138,22,0));;*/

    background: radial-gradient(circle 700px, darkgreen, transparent);
}

footer {
    text-align: center;
    background: #1e8a16;
    color: white;
    font-size: 24px;
    line-height: 1.5;
    padding: 50px 0;
}

footer b {
    font-size: 18px;
    line-height: 1.55;
}